<a href="https://colab.research.google.com/github/anirudhjbabu1/anirudhjbabu1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import tensorflow.keras as keras
import pandas as pd
import numpy as np

In [ ]:
imdb_reviews=pd.read_csv("/imdb_reviews.csv")
test_reviews=pd.read_csv("/test_reviews.csv")

In [ ]:
imdb_reviews.head()

                                             Reviews Sentiment
0  <START this film was just brilliant casting lo...  positive
1  <START big hair big boobs bad music and a gian...  negative
2  <START this has to be one of the worst films o...  negative
3  <START the <UNK> <UNK> at storytelling the tra...  positive
4  <START worst mistake of my life br br i picked...  negative

In [ ]:
word_index=pd.read_csv("/word_indexes.csv")

In [ ]:
word_index.head(n=10)

      Words  Indexes
0   tsukino    52009
1   nunnery    52010
2     sonja    16819
3      vani    63954
4     woods     1411
5   spiders    16118
6   hanging     2348
7     woody     2292
8  trawling    52011
9    hold's    52012

In [ ]:
word_index=dict(zip(word_index.Words,word_index.Indexes))

In [ ]:
word_index["<PAD>"]=0
word_index["<START"]=1
word_index["<UNK>"]=2
word_index["<UNUSED>"]=3

In [ ]:

def review_encoder(text):
  arr=[word_index[word] for word in text]
  return arr

In [ ]:
train_data,train_labels=imdb_reviews["Reviews"],imdb_reviews["Sentiment"]
test_data,test_labels=test_reviews["Reviews"],test_reviews['Sentiment']

In [ ]:
train_data=train_data.apply(lambda review:review.split())
test_data=test_data.apply(lambda review:review.split())

In [ ]:
train_data=train_data.apply(review_encoder)
test_data=test_data.apply(review_encoder)

In [ ]:
def encode_sentiments(sentiment):
  if sentiment=='positive':
    return 1 
  else:
    return 0
train_labels=train_labels.apply(encode_sentiments)
test_labels=test_labels.apply(encode_sentiments)

In [ ]:
train_data=keras.preprocessing.sequence.pad_sequences(train_data,value=word_index["<PAD>"],padding='post',maxlen=500)
test_data=keras.preprocessing.sequence.pad_sequences(test_data,value=word_index["<PAD>"],padding='post',maxlen=500)

In [ ]:
model=keras.Sequential([keras.layers.Embedding(10000,16,input_length=500),
                       keras.layers.GlobalAveragePooling1D(),
                       keras.layers.Dense(16,activation='relu'),
                       keras.layers.Dense(1,activation='sigmoid')])

In [ ]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
history=model.fit(train_data,train_labels,epochs=30,batch_size=512,validation_data=(test_data,test_labels))

Epoch 1/30
49/49 [==============================] - 3s 11ms/step - loss: 0.6914 - accuracy: 0.5569 - val_loss: 0.6890 - val_accuracy: 0.5638
Epoch 2/30
49/49 [==============================] - 0s 7ms/step - loss: 0.6828 - accuracy: 0.6621 - val_loss: 0.6759 - val_accuracy: 0.6467
Epoch 3/30
49/49 [==============================] - 0s 7ms/step - loss: 0.6599 - accuracy: 0.7525 - val_loss: 0.6458 - val_accuracy: 0.7598
Epoch 4/30
49/49 [==============================] - 0s 9ms/step - loss: 0.6183 - accuracy: 0.7785 - val_loss: 0.6000 - val_accuracy: 0.7889
Epoch 5/30
49/49 [==============================] - 0s 8ms/step - loss: 0.5625 - accuracy: 0.8110 - val_loss: 0.5459 - val_accuracy: 0.8112
Epoch 6/30
49/49 [==============================] - 0s 8ms/step - loss: 0.5021 - accuracy: 0.8358 - val_loss: 0.4927 - val_accuracy: 0.8302
Epoch 7/30
49/49 [==============================] - 0s 8ms/step - loss: 0.4464 - accuracy: 0.8570 - val_loss: 0.4468 - val_accuracy: 0.8432
Epoch 8/30
49/49 [==============================] - 0s 7ms/step - loss: 0.3995 - accuracy: 0.8689 - val_loss: 0.4105 - val_accuracy: 0.8517
Epoch 9/30
49/49 [==============================] - 0s 8ms/step - loss: 0.3621 - accuracy: 0.8792 - val_loss: 0.3824 - val_accuracy: 0.8606
Epoch 10/30
49/49 [==============================] - 0s 9ms/step - loss: 0.3331 - accuracy: 0.8860 - val_loss: 0.3625 - val_accuracy: 0.8634
Epoch 11/30
49/49 [==============================] - 0s 7ms/step - loss: 0.3090 - accuracy: 0.8942 - val_loss: 0.3444 - val_accuracy: 0.8704
Epoch 12/30
49/49 [==============================] - 0s 8ms/step - loss: 0.2897 - accuracy: 0.9006 - val_loss: 0.3315 - val_accuracy: 0.8728
Epoch 13/30
49/49 [==============================] - 0s 7ms/step - loss: 0.2732 - accuracy: 0.9046 - val_loss: 0.3223 - val_accuracy: 0.8748
Epoch 14/30
49/49 [==============================] - 0s 8ms/step - loss: 0.2595 - accuracy: 0.9099 - val_loss: 0.3133 - val_accuracy: 0.8781
Epoch 15/30
49/49 [==============================] - 0s 7ms/step - loss: 0.2475 - accuracy: 0.9119 - val_loss: 0.3067 - val_accuracy: 0.8792
Epoch 16/30
49/49 [==============================] - 0s 7ms/step - loss: 0.2355 - accuracy: 0.9175 - val_loss: 0.3034 - val_accuracy: 0.8795
Epoch 17/30
49/49 [==============================] - 0s 7ms/step - loss: 0.2261 - accuracy: 0.9215 - val_loss: 0.2975 - val_accuracy: 0.8827
Epoch 18/30
49/49 [==============================] - 0s 7ms/step - loss: 0.2171 - accuracy: 0.9255 - val_loss: 0.2944 - val_accuracy: 0.8826
Epoch 19/30
49/49 [==============================] - 0s 8ms/step - loss: 0.2088 - accuracy: 0.9287 - val_loss: 0.2909 - val_accuracy: 0.8848
Epoch 20/30
49/49 [==============================] - 0s 7ms/step - loss: 0.2011 - accuracy: 0.9311 - val_loss: 0.2888 - val_accuracy: 0.8856
Epoch 21/30
49/49 [==============================] - 0s 7ms/step - loss: 0.1938 - accuracy: 0.9334 - val_loss: 0.2877 - val_accuracy: 0.8857
Epoch 22/30
49/49 [==============================] - 0s 8ms/step - loss: 0.1874 - accuracy: 0.9359 - val_loss: 0.2865 - val_accuracy: 0.8860
Epoch 23/30
49/49 [==============================] - 0s 8ms/step - loss: 0.1813 - accuracy: 0.9382 - val_loss: 0.2862 - val_accuracy: 0.8867
Epoch 24/30
49/49 [==============================] - 0s 8ms/step - loss: 0.1761 - accuracy: 0.9404 - val_loss: 0.2907 - val_accuracy: 0.8848
Epoch 25/30
49/49 [==============================] - 0s 8ms/step - loss: 0.1701 - accuracy: 0.9437 - val_loss: 0.2861 - val_accuracy: 0.8860
Epoch 26/30
49/49 [==============================] - 0s 7ms/step - loss: 0.1653 - accuracy: 0.9446 - val_loss: 0.2864 - val_accuracy: 0.8860
Epoch 27/30
49/49 [==============================] - 0s 7ms/step - loss: 0.1602 - accuracy: 0.9467 - val_loss: 0.2879 - val_accuracy: 0.8861
Epoch 28/30
49/49 [==============================] - 0s 8ms/step - loss: 0.1558 - accuracy: 0.9484 - val_loss: 0.2933 - val_accuracy: 0.8856
Epoch 29/30
49/49 [==============================] - 0s 7ms/step - loss: 0.1515 - accuracy: 0.9499 - val_loss: 0.2892 - val_accuracy: 0.8857
Epoch 30/30
49/49 [==============================] - 0s 7ms/step - loss: 0.1469 - accuracy: 0.9522 - val_loss: 0.2906 - val_accuracy: 0.8852

In [ ]:
loss,accuracy=model.evaluate(test_data,test_labels)

782/782 [==============================] - 2s 2ms/step - loss: 0.2906 - accuracy: 0.8852

In [ ]:
test_reviews.head()

                                             Reviews Sentiment
0  <START please give this one a miss br br <UNK>...  negative
1  <START this film requires a lot of patience be...  positive
2  <START many animation buffs consider <UNK> <UN...  positive
3  <START i generally love this type of movie how...  negative
4  <START like some other people wrote i'm a die ...  positive

In [ ]:
index=np.random.randint(1,1000)

In [ ]:
user_review=test_reviews.loc[index]
print(user_review)

Reviews      <START right so you have a <UNK> tons of water...
Sentiment                                             negative
Name: 19, dtype: object

In [ ]:
user_review=test_data[index]
user_review=np.array([user_review])
if (model.predict(user_review)>0.5).astype('int32'):
  print("positive sentiment")
else:
    print("negative sentiment")

negative sentiment